# Q1

In [4]:
def arr():
    arr = []
    n = int(input("n = "))
    for i in range(n):
        print(i+1,' = ',end=' ')
        x = int(input())
        arr.append(x)
    total = 0
    for j in range(n):
        total += arr[j]
    return total

x = arr()
print(x)

n = 3
1  =  23
2  =  44
3  =  65
132

# Q2

In [5]:
tpl = [(2, 5), (1, 2), (4, 4), (2, 3), (2, 1)]
for i in range(len(tpl) - 1):
    for j in range(0 , len(tpl) - i - 1):
        if tpl[j][1] > tpl[j+1][1] :
            tpl[j], tpl[j+1] = tpl[j+1], tpl[j]
print(tpl)

[(2, 1), (1, 2), (2, 3), (4, 4), (2, 5)]

# Q3

In [6]:
d1 = {
        'a' : 100,
        'b' : 200,
        'c' : 300
    }
d2 = {
        'a' : 300,
        'b' : 200,
        'd' : 400
    }
for key in d1:
    if key in d2:
        d1[key] = d1[key] + d2[key]
        d2.pop(key)
    else:
        pass
    
print({**d1, **d2})

{'a': 400, 'b': 400, 'c': 300, 'd': 400}

# Q4

In [11]:
def create_dict(n):
    d= dict()
    for i in range(n):
        d[i+1] = (i+1)**2
    return d

d = create_dict(8)
print(d)

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64}

# Q5

In [46]:
def sort_tuple(tpl):
    for i in range(len(tpl) - 1):
        for j in range(0 , len(tpl) - i - 1):
            one , two = tpl[j][1].index('.') , tpl[j+1][1].index('.')
            if float(tpl[j][1][one+1:len(tpl[j][1])]) > float(tpl[j+1][1][two+1:len(tpl[j+1][1])]) :
                tpl[j], tpl[j+1] = tpl[j+1], tpl[j]
    return tpl

tpl = sort_tuple([('item1', '12.20'), ('item2', '15.10'), ('item3', '24.5')])
print(tpl)

[('item3', '24.5'), ('item2', '15.10'), ('item1', '12.20')]